[Unit]
Description=IOC for LA3 North Amp comp FF camera 
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
DynamicUser=true
# Note that PrivateTmp is implied
WorkingDirectory= /opt/gemini/la3/north_amp/gemini-amplifier-cameras/camerasIOC/iocBoot/iocampCams
ExecStart=/usr/bin/procServ -n ioc-cams-comp-ff-n -i ^D^C -p /tmp/pid.txt -P 20013 ./st-comp-ff.cmd
;PIDFile=/tmp/pid.txt

[Install]
WantedBy=multi-user.target
