[Unit]
Description=IOC for LA3 North Amp comp NF camera 
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
DynamicUser=true
# Note that PrivateTmp is implied
WorkingDirectory= /opt/gemini/la3/north_amp/camerasIOC/iocBoot/iocampCams
ExecStart=/usr/bin/procServ -n ioc-cams-comp-nf-n -i ^D^C -p /tmp/pid.txt -P 20012 ./st-comp-nf.cmd
;PIDFile=/tmp/pid.txt

[Install]
WantedBy=multi-user.target
