[Unit]
Description=IOC for LA3 North Amp comp NF camera
Wants=network-online.target
After=network-online.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=forking
User=jqg93617
# Note that PrivateTmp is implied
WorkingDirectory= /opt/gemini/la3/north_amp/gemini-amplifier-cameras/camerasIOC/iocBoot/iocampCams
ExecStart=/usr/bin/procServ -n ioc-cams-comp-nf-n -i ^D^C -P 20022 ./st-comp-nf.cmd
#PIDFile=/tmp/pid.txt
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
