[Unit]
Description=IOC for LA3 North Amp pump leg 1 camera
Wants=network-online.target
After=network-online.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=forking
User=jqg93617
# Note that PrivateTmp is implied
WorkingDirectory=/opt/gemini/la3/gemini-amplifier-cameras/camerasIOC/iocBoot/iocampCams
Environment="AMPLIFIER=NorthAmplifier"
ExecStart=/usr/bin/procServ -n ioc-cams-pump-leg-1-n -i ^D^C -P 20025 ./st-leg1-green-nf.cmd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
