[Unit]
Description=IOC for LA3 North Amp camera display
Wants=network-online.target
After=network-online.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=forking
User=jqg93617
# Note that PrivateTmp is implied
WorkingDirectory=/opt/gemini/la3/gemini-amplifier-cameras/displayIOC/iocBoot/iocgemCamSystem
Environment="AMPLIFIER=NorthAmplifier"
ExecStart=/usr/bin/procServ -n ioc-amp-cams-n -i ^D^C -P 20028 ./st.cmd
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
